body {
    background-color: #a862ea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: auto;
}

h1 {
    margin-bottom: 2rem;
    color: #4A4A4A;
    font-size: 24px;
}

input[type="file"] {
    display: block;
    margin: 1rem auto;
    padding: 10px;
    border: 2px dashed #cccccc;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s;
}

input[type="file"]:hover {
    border-color: #3b8ee3;
}

.btn {
    background-color: #3b8ee3;
    color: rgb(250, 251, 252);
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #357ac9;
    transform: scale(1.05);
}

.btn:active {
    background-color: #2f68a3;
    transform: scale(1);
}

#result {
    margin-top: 2rem;
    font-size: 18px;
    color: #333333;
}

#result p {
    margin: 0.5rem 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="file"]::file-selector-button {
    display: none;
}

input[type="file"]::before {
    content: 'Choose a file';
    display: inline-block;
    background: #3b8ee3;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

input[type="file"]:hover::before {
    background-color: #357ac9;
}
